<?xml version="1.0" encoding="utf-8"?><!--
 Copyright 2014 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kidappolis.usage.satistics">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.kidappolis.usage.satistics.LumenApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kidappolis.usage.satistics.AppUsageStatisticsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity android:name="com.kidappolis.setup.SplashScreen"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--SETUP-->

        <activity android:name="com.kidappolis.setup.PermissionsActivity"
            android:label="Permissions"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.kidappolis.setup.RegistrationActivity"
            android:label="Register"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.kidappolis.usage.satistics.AppsActivity"
            android:label="Applications"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.kidappolis.usage.satistics.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.kidappolis.usage.satistics.TermsActivity"
            android:label="Terms" />

        <activity
            android:name="com.kidappolis.usage.satistics.SettingsActivity"
            android:label="@string/label_settings"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />


        <service
            android:name="com.kidappolis.cronjobs.StatsCollector"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <receiver
            android:name="com.kidappolis.cronjobs.StatsCollectionAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.kidappolis.cronjobs.ServerUploaderReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="com.lumen.action_collection" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.kidappolis.cronjobs.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.kidappolis.cronjobs.ServerUploader"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.kidappolis.sync.SyncService"
            android:exported="false" />



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45b9e2fc5ceade768a67c69ea5f2b484c1c2a1a9" />
    </application>

</manifest>